:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}

h4 {
  text-align: center;
  text-decoration: underline;
}

input,
button,
img,
video {
  display: block;
  margin: 1em 0;
}

.wrapper {
  padding: 1em;
  margin-bottom: 2em;
  border: 1px solid rgb(50, 61, 187);
}

.wrapper-inner {
  padding: 1em;
  border: 1px solid #d14f4f;
  margin: 2em 0;
}

/* Example 2 - useLayoutEffect Hook */
body.light {
  background-color: #fff;
  color: #000;
}

body.dark {
  background-color: #000;
  color: #fff;
}
